:root {
    --mycol: #ff003c;
    --gcol: linear-gradient(to right, red, blue);
}

span {
    color: var(--mycol);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(https://i.postimg.cc/T2mcBGtv/pxfuel-2.jpg);
}


nav {
    height: 80px;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    top: 0px;
    z-index: 100;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.016));
    backdrop-filter: blur(5px);
}



.nleft {
    left: 5%;
    position: absolute;
}

.nryt {
    gap: 20px;
    right: 5%;
    position: absolute;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

.nryt a {
    margin: 0 3px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.nryt a::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    background-color: var(--mycol);
    bottom: -5px;
    left: 0%;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.nryt a.active::after {
    width: 90%;
}



.outer {
    width: 100vw;
    /* overflow: scroll; */
    padding-top: 80px;
    overflow: hidden;
}

.inner {
    width: 200vw;
    display: flex;
    /* min-height: 100vh; */
}

/* main sec edit */
.main {
    /* background-image: url(pxfuel\ 2.jpg); */
    padding: 20px;
    background-size: cover;
    width: 100vw;

}

.file-name {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(52, 52, 52, 0.301), rgba(153, 153, 153, 0.075));
}

.file-name h4 {
    color: var(--mycol);
}

.downloadBtn {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;

}

.downloadBtn button {
    opacity: 0;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgba(247, 247, 247, 0.187), rgba(240, 240, 240, 0.105));
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 10px;
    padding-left: 50px;
    border: none;
    text-transform: uppercase;
}

.downloadBtn img {
    height: 20px;
}





/* about sec edit  */
.abt {

    overflow: hidden;
}

.about {
    /* width: 100%; */
    width: 100vw;
    background-size: cover;
    backdrop-filter: blur(1px);
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
    transition: all 0.4s ease;
    /* display: none; */
    overflow: hidden;

}

.about::-webkit-scrollbar {
    display: none;
}

.about-nav {
    /* height: 50px; */
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(1px);
    position: fixed;
    left: 0%;
    z-index: 200;
    font-size: 14px;
    top: 12%;
    display: none;
}

.about-nav a {
    position: relative;
    margin: 0 7px;
}

.about-nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: var(--mycol);
    bottom: -5px;
    left: 1px;
    border-radius: 30px;
    transition: all 0.4s ease;

}

.about-nav a.active::after {
    width: 90%;
}

.about-dets {
    height: 100vh;
    width: 400vw;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.4s ease;
}

.abt-sec {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    z-index: 100;
    gap: 10%;
    padding-top: 130px;
    backdrop-filter: blur(5px);
    overflow: hidden;

}

#sec4 {
    /* transform: translateY(60px); */
    gap: 22px;
    padding-left: 20px;
    padding-right: 20px;
}

#sec4 h1 {
    margin-bottom: 30px;
}

.abt-sec h1 {
    text-align: center;
    transform: translateY(20px);
}



.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.links button {
    width: 350px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(to top, rgba(46, 46, 46, 0.365), rgba(46, 46, 46, 0.443));
    font-size: 15px;
    font-weight: 550;
    transition: all 0.4s ease;
    /* opacity: 0; */
}

.links a {
    opacity: 0;
}

button {
    transition: all 1s ease;
    /* opacity: 0; */
    /* animation: linksBtnAn 2s ease 0.3s infinite, strtLoad 4s ease 0.5s forwards; */

}

.links button:hover {
    scale: 1.05;
}

button:active {
    scale: 0.7;
}

.box {
    margin-bottom: 60px;
}

.box h3 {
    margin-bottom: 15px;
    position: relative;
}

.box a {
    margin-top: 15px;
}

.box p {
    margin-top: 5px;
}

.box h3::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 90%;
    background-color: var(--mycol);
    bottom: -3px;
    left: 0%;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.mid {
    padding: 30px 20px 100px;
    font-size: 40px;
    font-weight: 600;
    /* animation: stretchInOut 1s ease 0s infinite; */

}



@keyframes linksBtnAn {

    from {
        scale: 1;
    }

    50% {
        scale: 1.02;
    }

    to {
        scale: 1;
    }
}

@keyframes strtLoad {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes stretchInOut {

    from {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(2.01);
        transform: scaleY(2.01);
    }

    to {
        transform: scaleX(1);
        transform: scaleY(1);
    }
}