* {
font-family: Gilroy;
font-weight: 700;
text-transform: capitalize;
}


.tg-button {
padding: 6px 20px;
font-weight: 550;
border: none;
background-color: #10a37e;
color: white;
margin: 2px 0;
border-radius: 3px;
transition: all 0.4s ease;
}

button {
transition: all 0.4s ease;
}

button:hover {
transform: scale(1.1);
}

button:active {
transform: scale(0.9);
}



/* Dark Mode Toggle Styles */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
border-radius: 34px;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
border-radius: 50%;
}

input:checked+.slider {
background-color: #2196F3;
}

input:focus+.slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Light Mode Styles */
nav {
background-color: aliceblue;
color: #000;
/* Text color in light mode */
}

/* Dark Mode Styles */
.dark-mode nav {
background-color: #191919;
/* Dark background color for the navigation bar */
color: #fff;
/* Text color in dark mode */
}

#file-name {
color: black;
}

.dark-mode #file-name {
color: white;
}

i {
color: black;
}

.bl-text {
color: blue;
}


.dark-mode .bl-text {
color: #09ff00;
}

.dark-mode i {
color: white;
}

svg {
filter: invert(100);
}

.dark-mode svg {
filter: invert(0);
}

/* Dark Mode Styles */
.dark-mode {
background-color: #111;
color: #fff;
}
.fa-sun {
z-index: 100;
transform: translateX(25px);
}

.fa-moon {
z-index: 100;

transform: translateX(-25px);
}

.dark-mode .fa-moon {
color: rgb(0, 0, 0);
}
